@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   height: 100%;
   width: 100%;
   font-family: 'Lexend', sans-serif;
   font-weight: 200;
   /* font-family: 'DM Sans', sans-serif; */
}

.border-delgado {
   border: 0.5px solid #cecece;
}

.border-delgado-t {
   border-top: 0.5px solid #cecece;
}

.border-delgado-b {
   border-bottom: 0.5px solid #cecece;
}

.border-delgado-r {
   border-right: 0.5px solid #cecece;
}

.border-delgado-l {
   border-left: 0.5px solid #cecece;
}

.hamburger {
   cursor: pointer;
}

.hamburger input {
   display: none;
}

.hamburger svg {
   /* The size of the SVG defines the overall size */
   height: 3em;
   /* Define the transition for transforming the SVG */
   transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
   fill: none;
   stroke: black;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 3;
   /* Define the transition for transforming the Stroke */
   transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
   stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
   transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
   stroke-dasharray: 20 300;
   stroke-dashoffset: -32.42;
}

.scrollbar-hidden::-webkit-scrollbar {
   width: 0.5em;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
   background-color: #bfdbfe;
   border-radius: 0.4em;
}

.scrollbar-hidden::-webkit-scrollbar-thumb:hover {
   background-color: #98afcb;
}

.scrollbar-hidden::-webkit-scrollbar-button {
   display: none;
}

#checkbox {
   display: none;
}

.toggle {
   position: relative;
   width: 40px;
   height: 40px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   transition-duration: .3s;
}

.bars {
   width: 100%;
   height: 4px;
   background-color: black;
   border-radius: 5px;
   transition-duration: .3s;
}

#checkbox:checked+.toggle #bar2 {
   transform: translateY(14px) rotate(60deg);
   margin-left: 0;
   transform-origin: right;
   transition-duration: .3s;
   z-index: 2;
}

#checkbox:checked+.toggle #bar1 {
   transform: translateY(28px) rotate(-60deg);
   transition-duration: .3s;
   transform-origin: left;
   z-index: 1;
}

#checkbox:checked+.toggle {
   transform: rotate(-90deg);
}